@charset "UTF-8";
/*GENERALES*/
* {
  Margin: 0;
  padding: 0; }

/*Formateo general de tipografía y background color*/
body {
  background-color: #141414;
  /*font-family: 'Bodoni Moda', serif;*/
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column; }

/*ANIMACIONES*/
@keyframes glitch-animation-1 {
  0% {
    clip: rect(141px, 350px, 13px, 30px); }
  5% {
    clip: rect(56px, 350px, 7px, 30px); }
  10% {
    clip: rect(24px, 350px, 32px, 30px); }
  15% {
    clip: rect(142px, 350px, 149px, 30px); }
  20% {
    clip: rect(17px, 350px, 52px, 30px); }
  25% {
    clip: rect(21px, 350px, 37px, 30px); }
  30% {
    clip: rect(69px, 350px, 109px, 30px); }
  35% {
    clip: rect(6px, 350px, 141px, 30px); }
  40% {
    clip: rect(99px, 350px, 56px, 30px); }
  45% {
    clip: rect(83px, 350px, 55px, 30px); }
  50% {
    clip: rect(92px, 350px, 122px, 30px); }
  55% {
    clip: rect(147px, 350px, 148px, 30px); }
  60% {
    clip: rect(66px, 350px, 22px, 30px); }
  65% {
    clip: rect(79px, 350px, 102px, 30px); }
  70% {
    clip: rect(54px, 350px, 111px, 30px); }
  75% {
    clip: rect(127px, 350px, 64px, 30px); }
  80% {
    clip: rect(81px, 350px, 35px, 30px); }
  85% {
    clip: rect(11px, 350px, 105px, 30px); }
  90% {
    clip: rect(57px, 350px, 37px, 30px); }
  95% {
    clip: rect(50px, 350px, 74px, 30px); }
  100% {
    clip: rect(49px, 350px, 13px, 30px); } }

@keyframes glitch-animation-2 {
  0% {
    clip: rect(136px, 350px, 5px, 30px); }
  5% {
    clip: rect(2px, 350px, 11px, 30px); }
  10% {
    clip: rect(119px, 350px, 138px, 30px); }
  15% {
    clip: rect(112px, 350px, 140px, 30px); }
  20% {
    clip: rect(94px, 350px, 59px, 30px); }
  25% {
    clip: rect(121px, 350px, 137px, 30px); }
  30% {
    clip: rect(127px, 350px, 81px, 30px); }
  35% {
    clip: rect(147px, 350px, 99px, 30px); }
  40% {
    clip: rect(2px, 350px, 22px, 30px); }
  45% {
    clip: rect(57px, 350px, 74px, 30px); }
  50% {
    clip: rect(89px, 350px, 56px, 30px); }
  55% {
    clip: rect(122px, 350px, 95px, 30px); }
  60% {
    clip: rect(4px, 350px, 132px, 30px); }
  65% {
    clip: rect(115px, 350px, 42px, 30px); }
  70% {
    clip: rect(102px, 350px, 65px, 30px); }
  75% {
    clip: rect(71px, 350px, 117px, 30px); }
  80% {
    clip: rect(60px, 350px, 98px, 30px); }
  85% {
    clip: rect(22px, 350px, 23px, 30px); }
  90% {
    clip: rect(62px, 350px, 35px, 30px); }
  95% {
    clip: rect(30px, 350px, 2px, 30px); }
  100% {
    clip: rect(97px, 350px, 62px, 30px); } }

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }

.rightToLeft {
  animation-name: rightToLeft;
  animation-duration: 2000ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  visibility: hidden;
  animation-fill-mode: forwards; }

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }

.leftToRight {
  animation-name: leftToRight;
  animation-duration: 2000ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  visibility: hidden;
  animation-fill-mode: forwards; }

@keyframes upToDown {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }

.upToDown {
  animation-name: upToDown;
  animation-duration: 2000ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  visibility: hidden;
  animation-fill-mode: forwards; }

@keyframes downToUp {
  from {
    transform: translateY(100%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }

.downToUp {
  animation-name: downToUp;
  animation-duration: 2000ms;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  visibility: hidden;
  animation-fill-mode: forwards; }

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate; }

@-webkit-keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

/*INDEX*/
.mainPhoto-container {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px; }

/*.mainPhoto {
  background: url("../images/landing/queen-maradona.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 40px;
  transition: transform 2s; }*/

.mainPhoto:hover {
  transform: scale(1.15); }

.mainPhoto-stuff {
  position: absolute;
  top: 40px;
  left: 40px; }

f
header {
  /*text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    grid-area: header;*/
  background-image: linear-gradient(to bottom, #343534, #141414); }

/*header ul {
    list-style: none;
    float: right;
    display: block;
}

header li {
    margin: 10px 8px 8px 8px;
    display: inline-block;
}*/
/*header li a {
    color: white;
    letter-spacing: 1px;
    font-size: 80%;
    text-decoration: none;
    font-style: normal;
}*/
header li a:hover {
  color: red; }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-container div {
  align-items: center;
  justify-content: center; }

/*Formateo del logo*/
#logo {
  color: white;
  text-align: left;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 200%;
  text-transform: uppercase;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold; }

/*Formateo al Footer*/
footer {
  /*text-decoration: none;
    letter-spacing: 2px;*/
  background-image: linear-gradient(to bottom, #141414, black);
  /*display: flex;
    flex-direction: column;
    grid-area: footer;*/ }

/*footer div {
    margin: 15px;
}

footer section a img {
    height: 32px;
}*/
.footer-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  justify-content: space-around; }

.footer-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
  width: 25%;
  text-align: center; }

.footer-social {
  padding: 0 1.875rem 1.25rem;
  width: 80%; }

.footer-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem; }

.footer-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  display: block; }

.footer-copyright {
  padding: 0.9375rem 1.875rem;
  background-color: #333; }

.copyright {
  color: red;
  font-size: 60%; }

.footer-copyright-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.footer-copyright-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap; }

.footer-main-item-title {
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold; }

.footer-main-item-text {
  color: red;
  text-align: center;
  letter-spacing: 1px;
  font-size: 80%;
  font-weight: bold; }

/*Formato de selectores*/
h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3px;
  padding: 20px 0 30px 0; }

p {
  color: white;
  padding: 8px; }

/*a {
    color: white;
    text-decoration: none;
    font-style: oblique;
}*/
ul {
  list-style-type: none; }

section p {
  text-align: justify; }

/*Formato de tablas*/
.table-disco {
  border: 3px solid;
  border-color: red;
  margin: auto; }

.table-disco li {
  margin: 15px; }

.table-disco th {
  text-align: center;
  background-color: #400000;
  font-style: oblique;
  border: 1px solid; }

.table-disco tr,
td {
  border: 1px solid;
  text-align: center;
  padding: 8px; }

td img {
  width: 300px; }

.table-galeria {
  border: 0px;
  margin: auto; }

.table-galeria th,
.table-galeria tr,
.table-galeria td {
  border: 0px; }

/*Display Block & Inline-Block*/
.inputBlock {
  padding: 8px;
  margin: 8px 8px 8px 16px;
  display: block;
  border: none; }

.inputInlineBlock {
  padding: 8px;
  margin: 8px 8px 8px 16px;
  display: inline-block;
  border: none; }

.container {
  flex: 1;
  /* same as flex-grow: 1; */ }

/* Flex*/
.bio-section {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 50px; }

.bio-section iframe {
  border-style: none;
  width: 200%; }

.bio-section p {
  padding: 20px; }

.bio-section h2 {
  padding: 20px; }

.contactoSection {
  display: flex;
  justify-content: center;
  padding: 10px; }

/*Grids*/
.gridBody {
  display: grid;
  grid-template-areas: "header"
 "main"
 "footer";
  grid-template-columns: auto;
  grid-auto-rows: auto;
  margin: 0; }

.gridMain {
  grid-area: main; }

.gridFooter {
  display: grid;
  grid-template-areas: "item1 item2 item3 item4"
 "redesSociales redesSociales redesSociales redesSociales"
 "copyright copyright copyright copyright";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 0;
  justify-items: center;
  font-size: 150%; }

.gridGaleria {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center; }

.gridDiscografia {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  align-content: space-between;
  justify-content: space-around; }

.gridContacto {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "nombre apellido"
 "email telefono"
 "genero newsletter"
 "mensaje mensaje"
 "enviar resetear";
  justify-content: center;
  align-items: center; }

.gridBioSection {
  display: grid;
  grid-template-areas: "bioTitulo"
 "bioTexto"
 "bioVideo";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin: 0;
  padding: 0 10% 0 10%; }

.bioTitulo {
  grid-area: bioTitulo;
  border-top: 1px white solid; }

.bioTexto {
  grid-area: bioTexto;
  padding: 10px 0 30px 0; }

.bioVideo {
  grid-area: bioVideo;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 auto 30px auto; }

.bioVideo iframe {
  display: block;
  width: 900px;
  height: 600px;
  padding: 0 0 30px 0; }

/*Formato otros*/
.tituloPrincipal {
  color: white;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3px;
  padding: 30px 0 20px 0; }

.contactoInputs {
  padding: 8px;
  margin: 8px 8px 8px 16px;
  display: block;
  border: none; }

.background-image {
  min-width: 100%;
  height: auto; }

.galery-img {
  width: 100%; }

.galery-iframe {
  justify-self: center; }

@media (min-width: 768px) {
  footer {
    margin-bottom: 0; } }

.headerColor {
  background-image: linear-gradient(to bottom, #343534, #141414); }

h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff; }

a.btn {
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 11px 30px;
  background-color: #636363;
  background-image: linear-gradient(to bottom, #636363, #000);
  color: #fff;
  text-transform: uppercase; }

a.btn:hover {
  background-image: linear-gradient(to bottom, #000, #000); }

#portada {
  height: 100vh; }

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100; }

main {
  margin-bottom: 30px; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px; }

.wrapper h1.glitch::before,
.wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "Glitch";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0; }

.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate; }

.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate; }

/*@media screen and (max-width: 480px) {
  #logo {
    font-size: 180%; }
  .mainPhoto {
    background: url("../images/landing/small-img.png") no-repeat center center;
    height: 100%; } }*/

@media screen and (max-width: 768px) {
  .mainPhoto-container {
    height: 500px; } }

@media screen and (max-width: 1200px) {
  .mainPhoto-container {
    height: 300px; } }

@media screen and (max-width: 480px) {
  #logo ::before {
    content: "\a";
    white-space: pre; }
  .mainPhoto-container {
    height: 500px; } }

@media screen and (max-width: 320px) {
  #logo {
    font-size: 150%; } }
